html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: arial;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
  margin-top: 30px;
  text-transform: uppercase;
  color: #e7e7e7;
  text-shadow: 1.5px 1.5px 0 #333, 0px 1.5px 0 #333, -1.5px -1.5px 0 #333, -1.5px -1.5px 0 #333, -1.5px 1.5px 0 #333, 1.5px -1.5px 0 #333, 0.7778174593px 0.7778174593px 0 #aaaaaa, 1.5556349186px 1.5556349186px 0 #aaaaaa,
    2.3334523779px 2.3334523779px 0 #aaaaaa, 3.1112698372px 3.1112698372px 0 #aaaaaa, 3.8890872965px 3.8890872965px 0 #aaaaaa, 4.6669047558px 4.6669047558px 0 #aaaaaa, 5.4447222151px 5.4447222151px 0 #aaaaaa,
    6.2225396744px 6.2225396744px 0 #aaaaaa, 7.0003571337px 7.0003571337px 0 #aaaaaa, 7.7781745931px 7.7781745931px 0 #aaaaaa;
}

.container {
  width: 600px;
  margin: auto;
  padding: 20px;
  position: relative;
}

.area-komputer {
  width: 560px;
  height: 250px;
  margin: 5px auto;
  background-color: rgb(255, 0, 0);
  background: linear-gradient(to bottom, rgb(237, 179, 179) 0%, rgb(229, 41, 41) 100%);
  position: relative;
  padding-top: 40px;
  box-sizing: border-box;
  border-radius: 40px 40px 0 0;
}

.area-player {
  width: 560px;
  height: 250px;
  margin: 5px auto;
  background-color: rgb(110, 110, 110);
  background: linear-gradient(to bottom, rgb(215, 215, 215) 0%, rgb(239, 239, 239) 100%);
  position: relative;
  border-radius: 0 0 40px 40px;
}

.info {
  width: 150px;
  height: 60px;
  border: 4px solid rgb(255, 255, 255);
  position: absolute;
  left: 50%;
  margin-left: -75px;
  top: 50%;
  margin-top: -30px;
  background-color: white;
  border-radius: 30px;
  z-index: 1;
  text-align: center;
  line-height: 60px;
  color: #000000;
  font-size: 26px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

ul {
  padding-top: 80px;
  padding-left: 25px;
}

li {
  display: inline-block;
  margin: 0 18px;
}

img {
  width: 130px;
  height: 130px;
  display: block;
  margin: auto;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
}

.gunting,
.batu,
.kertas {
  transition: 0.3s;
  position: relative;
  top: 0;
  cursor: pointer;
}

.gunting:hover,
.kertas:hover,
.batu:hover,
.active {
  box-shadow: 0 0 10px 5px lightblue;
}

.gunting:active,
.kertas:active,
.batu:active {
  top: 2px;
}

/* background animation gradient */
body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
