*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    background-image: url("../image/bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board{
    background: linear-gradient(rgb(255 255 255), rgb(243 243 59));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);

}
#scoreBox{
    position: absolute;
    top: 9px;
    right:200px;
    font-size: 35px;
}

#hiscoreBox{
    position: absolute;
    top: 59px;
    right:200px;
    font-size: 35px;
}
.head{
    background: linear-gradient(red, yellow);
    border: 2px solid purple;
    transform: scale(1.02);
    border-radius: 8px;
}
.snake{
    background-color: rgb(106, 0, 255);
    border: .25vmin solid white;
    border-radius: 12px;
}
.food{
    background: linear-gradient(rgb(106, 0, 255), rgb(243 243 59));
    border: .25vmin solid white;
    border-radius: 8px;
}