* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    background-image: linear-gradient(to bottom right, rgba(79, 51, 176, 1), rgba(210, 53, 165));
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    border-radius: 20px;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 30px #000;
}

.theme-toggle {
    position: absolute;
    top: 110px;
    right: 61%;
    background-color: #aa00a4;
    cursor: pointer;
    z-index: 1;
}

.theme-toggle.active {
    color: rgb(155, 15, 51);
}

.theme-toggle.active::before {
    background-color: #fff;
}

.theme-toggle::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
}

#display {
    margin: 0 10px;
    height: 110px;
    width: auto;
    max-width: 280px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 45px;
    margin-bottom: 0px;
    overflow-x: scroll;
}

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 70px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 130px;
}

.calculator {
    background-color: rgb(175, 60, 60);
}

.calculator #display {
    color: #aad5df;
}

.calculator button#clear {
    background-color: #ffd5d8;
    color: #fc4552;
}

.calculator button.btn-number {
    background-color: #c3eaff;
    color: rgb(224, 28, 28);
}

.calculator button.btn-operator {
    background-color: #ffd0fd;
    color: #f967f3;
}

.calculator button.btn-equal {
    background-color: #adf9e7;
    color: rgb(186, 41, 41);
}

.calculator-dark {
    background-color: rgb(223, 198, 198);
    border-radius: 15px;
    width: 340px;
}

.calculator-dark button#clear {
    background-color: #2d191e;
    color: #bd3740;
}

.calculator-dark button.btn-number {
    background-color: #1b2f38;
    color: #fafafb;
}

.calculator-dark button.btn-operator {
    background-color: #2e1f39;
    color: #aa00a4;
}

.calculator-dark button.btn-equal {
    background-color: #223323;
    color: #ffffff;
}
