#btn {
    text-align: center;
}
button {
    background-color: #DC143C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
th, td {
  padding: 12px;
  text-align: left;
   border-bottom: 1px solid #ddd;
}
tr:hover {
background-color:#8B0000;
}

