* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.container-fluid {
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.wrapper-card {
  border: none;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.app {
  background: #e3e3e3;
  height: 100vh;
  width: 100%;
}
ul {
  display: block;
  width: 100%;
  height: inherit;
}
ul {
  list-style-type: none;
}
li:nth-child(1) {
  position: absolute;
  left: 10%;
  height: 30px;
  width: 30px;
  background: rgba(79, 74, 74, 0.2);
}
li:nth-child(2) {
  position: absolute;
  left: 30%;
  height: 45px;
  width: 45px;
  background: rgba(47, 44, 44, 0.2);
}
li:nth-child(3) {
  position: absolute;
  left: 50%;
  height: 70px;
  width: 70px;
  background: rgba(48, 44, 44, 0.2);
}
li:nth-child(4) {
  position: absolute;
  left: 80%;
  height: 20px;
  width: 20px;
  background: rgba(45, 42, 42, 0.2);
}
li {
  animation: animate 15s linear 1s infinite;
}

@keyframes animate {
  from {
    transform: translateY(+1500%) rotate(180deg);
  }
  to {
    transform: translateY(-150%) rotate(360deg);
  }
}
