html,
body {
  margin: 0;
  background-color: #265527;
  color: white;
}

.title {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 24px;
}

.card {
  position: relative;
  width: 150px;
  left: 100px;
  margin-left: -75px;
}

.divCards {
  display: flex;
  height: 240px;
}
