body {
  background: #1d1b1b;
}

.container {
  max-width: 400px;
}

input[type="text"],
input[type="text"]:focus {
  color: #fff;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

.todos li {
  background: #ec4d37;
}

.delete {
  cursor: pointer;
}

.filtered {
  display: none !important;
}
.f {
  display: block !important;
}
