:root {
    --Poppins: 'Poppins', sans-serif;
    --Redressed: 'Redressed', cursive;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--Poppins);
}

.music__player__container {
    padding: 2rem;
    background: linear-gradient(0deg, rgb(247, 247, 247) 23.8%, rgb(252, 221, 221) 92%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.music_container {
    background-color: #FFFFFF;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.5);
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 100px 0;
    z-index: 10;
}

.img_container {
    width: 110px;
    position: relative;
}

/* .img_container::after {
    content: '';
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, 50%);
} */

.img_container img {
    /* border-radius: 50%; */
    object-fit: cover;
    height: 110px;
    width: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    /* animation: rotate 3s linear infinite;
    animation-play-state: paused;
    -webkit-animation: rotate 3s linear infinite; */
}

/* .music-container.play .img-container img {
    animation-play-state: running;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}

    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
} */

.duration_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 10px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.action_btn {
    background: #FFFFFF;
    border: none;
    color: #DFDBDF;
    font-size: 1.25rem;
    cursor: pointer;
    padding: 0.5rem;
    margin: 1.25rem
}

.action_btn_big {
    color: #C0B0C5;
    font-size: 1.8rem;
}

.action_btn:focus {
    outline: none;
}

.music_info {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    /* padding: 10px 10px 10px 150px; */
    padding: 10px 10px 10px 20px;
    opacity: 0;
    z-index: 0;
    border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -ms-border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    -webkit-transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    -moz-transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    -ms-transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    -o-transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
}

.music_container.play .music_info {
    opacity: 1;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}

.music_info h4 {
    margin: 0;
}

.music_info p {
    margin: 0;
}

.progress_container {
    background: #FFFFFF;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.progress {
    background-color: #fe8daa;
    height: 100%;
    width: 0%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: width 0.1s linear;
    -webkit-transition: width 0.1s linear;
    -moz-transition: width 0.1s linear;
    -ms-transition: width 0.1s linear;
    -o-transition: width 0.1s linear;
}